@font-face {
    font-family: Product Sans;
    src: url('../fonts/Product Sans Bold.ttf');
    font-weight: bold;
    font-display: swap;
}
@font-face {
    font-family: Product Sans;
    src: url('../fonts/Product Sans Regular.ttf');
    font-weight: regular;
    font-display: swap;
}
/* @font-face {
    font-family: myFirstFont;
    src: url();
    font-display: swap;
}  */


*,:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Product Sans";
}

a:hover{
    text-decoration: none;
}
img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
.clearfix:after, .clearfix:before,
header:after, header:before,
footer:after, footer:before,
.row:after, .row:before,
.container:after, .container:before,
.container-full:after, .container-full:before
{
    display: table;
    content: " ";
}

.clear{
    clear: both
}

/* --------- Helper Styles ---------*/
.text-center { text-align: center!important; }
.mr-0{ margin-right: 0 !important}
/* --------- //Helper box Styles ---------*/

 /* --------- Container Styles ---------*/
.container-full { max-width: 100%; width: 100%; margin: 0 auto; padding: 0 15px; }
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
 }
 @media screen and (min-width: 576px){
    .container{
        max-width: 540PX;
    }
}
@media screen and (min-width: 768px){
    .container{
        max-width: 750PX;
    }
}
@media screen and (min-width: 992px){
    .container{
        max-width: 970px;
    }
}
@media screen and (min-width: 1200px){
    .container{
        max-width: 1170px;
    }
}
.row{
    margin-left: -15px;
    margin-right: -15px;
}

 /* --------- // Container Styles ---------*/

/* --------- column Styles ---------*/
.col-sm-4 ,.col-sm-5 ,.col-sm-6,.col-sm-7{
    position: relative;
    padding:0 15px;
    width: 100%;
}
 @media screen and (min-width: 768px){
    .col-sm-4{
        width: 33.333333%;
        float: left;
    }
     .col-sm-5{
        width: 41.666667%;
        float: left;
    }
     .col-sm-6{
        width: 50%;
        float: left;
    }
     .col-sm-7{
        width: 58.333333%;
        float: left;
    }
}
/* --------- //column Styles ---------*/

/* --------- Hero box Styles ---------*/
#herobanner-section .box .col-sm-6 {
    float: right;
}
.img-div { text-align: center}
.img-div img { max-height: 585px;}
.box {margin-top:40px; margin-bottom: 40px;}
.heading {
    font-size: 60px;
    color: rgb(28, 32, 86);
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 36px;
    margin-top: 46px;
}
.text-div p {
    font-size: 20px;
    color: rgb(40, 112, 219);
    line-height: 1.8;
    margin-top: 0;
    margin-bottom: 60px;
}  
.text-div p{ 
    margin-bottom: 96px;
}
/* --------- // Hero box Styles ---------*/


/* --------- About box Styles ---------*/
#box_tow .col-sm-5 , #box_tow .col-sm-7 { float: right; }
/* --------- // About box Styles ---------*/

/* --------- Support Styles ---------*/
#support-section .heading {
    margin-bottom: 64px;
    margin-top: 64px;
}
.support-div p{
    font-size: 20px;
    color: rgb(38, 50, 56);
    text-align: center;
    line-height: 50px;
}
.support-div p span{
    font-size: 46px;
    color: #1a56a3;
    font-weight: bold;
    display: block;
}
  
/* --------- // Support Styles ---------*/

/* ---------  joint Styles ---------*/
#join-section {
    background: #f5f6fa;
    padding-top: 56px;
    margin-top: 60px;
    margin-bottom: 40px;
}

#join-section .heading span {
    font-size: 20px;
    color: #2870db;
    font-weight: normal;
    display: block;
}
/* --------- // joint Styles ---------*/

/* --------- feedback Styles ---------*/
#feedback-section {margin-bottom: 50px;}
.feedback-div {
    border-radius: 5px 5px 20px 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 27px 43px 0px rgba(32, 94, 171, 0.1);
    background: url("../imgs/border.png") no-repeat top;
    padding: 0;
    margin-right: 15px;
    width: calc(33.3333% - 20px);
    float: left;
    padding: 56px 50px 66px;
}
.feedback-heading { 
    font-size: 24px;
    line-height: 1.5;
    margin-top: 16px;
    margin-bottom: 0;
}
.feedback-content {
    font-size: 18px;
    color: rgb(84, 110, 122);
    line-height: 1.667;
    margin: 0;
    min-height: 100px;
}
.date  {
    color: #9abece;
    margin: 0;
}
  
/* --------- // feedback Styles ---------*/

.conact-form {
    border-radius: 20px;
    padding: 80px 15px 90px;   
    background-image: -moz-radial-gradient( 50% 50%, circle closest-side, rgb(5,164,254) 0%, rgb(0,76,242) 100%);
    background-image: -webkit-radial-gradient( 50% 50%, circle closest-side, rgb(5,164,254) 0%, rgb(0,76,242) 100%);
    background-image: -ms-radial-gradient( 50% 50%, circle closest-side, rgb(5,164,254) 0%, rgb(0,76,242) 100%);
}
.conact-form .heading {
    font-size: 60px;
    color: rgb(255, 255, 255);
    margin-bottom: 46px;
    margin-top: 0;
    text-align: center
}